* {
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0 10px;
    color: grey;

}

.nav-link {
    margin-left: 0px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    float: left;
    padding-top: 25px;
    left: -19rem;
}

@media (max-width: 1199px) {
    #navbar {
        justify-content: flex-start;
        display: flex;
    }

}

header {
    font-weight: bold;
}